.portfolio {
  background-color: #f8fafc;
  padding: 2rem;
  padding-bottom: 100px;
  border-radius: 16px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 5rem;
    justify-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  .project-card {
    background-color: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 20px;
    transition: var(--transition);
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.05);
  }
  
  .project-card:hover {
    transform: translateY(-5px);
    box-shadow: rgba(17, 12, 46, 0.25) 0px 48px 100px 0px;
  }
  
  .project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .project-card h3 {
    margin: 1rem 1rem 0.5rem;
    color: var(--secondary-color);
  }

  .project-card .description {
    padding: 0 1rem;
    margin-bottom: 1rem;
    color: var(--text-color);
    font-size: 0.9rem;
    line-height: 1.4;
    text-align: left;
    white-space: pre-line;
  }
  
  .project-links {
    display: flex;
    justify-content: space-around;
    padding: 0 1rem 1rem;
    gap: 1rem;
  }
  
  .project-links a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    transition: var(--transition);
  }
  
  .project-links a:hover {
    color: var(--secondary-color);
  }

  p {
    padding-bottom: 40px;
  }

